@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.name{
    font-family: 'Bebas Neue', cursive;
    color: red;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 600;
}

body{
    background-image: url(Imagens/pag_inicial_escura.png);
    background-size: 100%;
    opacity: 0.92;
}

.container_center{
    display: flex;
    justify-content: center;
}

.container{
    width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 120px;
}

.container h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    position: relative;
    top: 60px;
}

.container form{
    display: flex;
    flex-direction: column;
    padding: 70px;
    margin-top: 20px;
}

.email{
    padding: 15px;
    background-color: #1f1f1f;
    color: white;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.password{
    padding: 15px;
    background-color: #1f1f1f;
    color: white;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.submit{
    padding: 15px;
    background-color: red;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 15px;
    border-radius: 7px;
}

input[type="checkbox"]{
    display: none;
}

label{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

input[type="checkbox"] + label:before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: grey;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
}

.help{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    margin-left: 205px;
    margin-top: -18px;
}

.help:hover{
    color: grey;
    text-decoration: underline;
}

.content{
    display: flex;
    justify-content: center;
}

span{
    color: grey;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

span .subscribe{
    color: white;
    text-decoration: none;
}

span .subscribe:hover{
    text-decoration: underline;
}

p .more{
    color: blue;
    text-decoration: none;
}

p .more:hover{
    text-decoration: unli;
}

footer{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    color: grey;
    width: 100%;
    height: 260px;
    position: absolute;
    top: 800;
    left: 0;
    justify-content: center;
}

footer p{
    margin-left: 210px;
    margin-top: 35px;
}

footer div{
    margin: 0px, 48.25px, 0px, 48.2375px;
    padding: 30px, 0px;
}

.options{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.options a{
    color: grey;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-left: 210px;
    padding-top: 30px;
    padding-bottom: 2px;
    border-right: -20px;
    text-decoration: none;
}

.options a:hover{
    text-decoration: underline;
}

.options2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.options2 a{
    color: grey;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-left: 210px;
    padding-top: 15px;
    padding-bottom: 35px;
    text-decoration: none;
    align-content: center;
}

.options2 a:hover{
    text-decoration: underline;
}

select{
    background-color: black;
    width: 130px;
    height: 50px;
    color: grey;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-left: 210px;
}

.message{
    display: none;
    color: orange;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.message2{
    display: none;
    color: orange;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}